@charset "UTF-8";

.tabpanel{
/*    background-color: #f0f0f0;*/
}

table{
    border-collapse: collapse;
}
table.requestview{
/*    cursor: default; */
}

/* リクエスト、ストックの枠線 */
table.requestview tr {
    border-bottom: 2px solid black;
}

/* テキスト範囲選択できるクラス */
.selection {
    cursor: text ! important;
    -moz-user-focus: normal;
    -moz-user-select: text;
}

/* ストックの詳細部分(非表示にしていいもの) */
.detail {
/*    display:none; */
}

/* リク・ストックビュー内の水平線<hr/> */
.requestview hr {
    padding: 0;
    margin: 0;
    border-width: 1px 0px 0px 0px;
    border-style: dashed;
/*    border: 1px solid gray; */
}

window {
/*    font-family: MS UI Gothic; */
}

/* リク、ストックなどのコマンドボタン */
button.commandbtn {
    font-size: 8pt;
}

/* 奇数行 */
tr.table_oddrow{
    background-color: #ffffee;
}

/* 偶数行 */
tr.table_evenrow{
    background-color: #eeeeff;
}

table#database-table tr:hover{
    background-color: #888888;
    color: white;
}

/* コメントの枠線 */
#comment_table tr{
    border-bottom: 1px solid #cccccc;
}
#comment_table tr:hover{
/*    background-color: #eeeeee; */
}

tr.no_live_play:hover{
    background-image: url("http://res.nimg.jp/img/common/tilebtn/delete.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

tr.color1{
    background-color: #f2eef8;
}
tr.color2{
    background-color: #eef0ff;
}
tr.color3{
    background-color: #eef8ff;
}
tr.color4{
    background-color: #eeffff;
}
tr.color5{
    background-color: #eefff8;
}
tr.color6{
    background-color: #eeffee;
}
tr.color7{
    background-color: #f8ffee;
}
tr.color8{
    background-color: #ffffee;
}

tr.white{
    background-color: white;
}

tr.no_live_play{
}


.Miku {
    background-color: #7fffbf;
}
.RinLen {
    background-color: yellow;
}
.Luka {
    background-color: #ffb2d3;
}
.Other {
    background-color: #ffeeee;
}
.NG {
    background-color: #888888;
}
.undefined {
}

/* 主用の色 */
tr.table_casterselection{
    background-color: #ffeeee;
}

/* 再生済み */
tr.table_played{
    background-color: #cccccc;
}

.red {
    color: red;
}
.black{
    color: black;
}

a {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

toolbarbutton{
    margin-right: 2px;
}

#folder-listbox listitem:-moz-drag-over {
    border: 1px solid black;
    font-weight: bold;
}
