toolbar {
    -moz-appearance: -moz-mac-unified-toolbar;
    padding-bottom: 1px;
}

toolbarbutton {
    border: 1px solid transparent;
    padding: 3px;
}

.toolbarbutton-icon[label]:not([label=""]),
.toolbarbutton-icon[type="menu"] {
    -moz-margin-end: 5px;
}

.toolbarbutton-text {
    margin: 0 !important;
}

toolbarbutton:hover,
toolbarbutton[buttonover="true"] {
    border: 1px solid gray;
}

toolbarbutton:hover:active,
toolbarbutton[open="true"]:hover,
toolbarbutton[open="true"] {
    padding-top: 4px;
    padding-bottom: 2px;
    -moz-padding-start: 4px !important;
    -moz-padding-end: 2px !important;
}

toolbarbutton[checked="true"]{
    padding-top: 4px !important;
    padding-bottom: 2px !important;
    -moz-padding-start: 4px !important;
    -moz-padding-end: 2px !important;

    background-color: #dddddd;
    border: 1px inset gray;
}
