@charset "UTF-8";

.tabpanel{
/*    background-color: #f0f0f0;*/
}

table{
    border-collapse: collapse;
}

/* コメントの枠線 */
#comment_table tr{
    border-bottom: 1px solid #cccccc;
}

/* リクエスト、ストックの枠線 */
table.requestview tr {
    border-bottom: 2px solid black;
}

/* 詳細部分(非表示にしていいもの) */
.detail {
/*    display:none; */
}

/* 奇数行 */
tr.table_oddrow{
    background-color: #ffffee;
}

/* 偶数行 */
tr.table_evenrow{
    background-color: #eeeeff;
}

table#database-table tr:hover{
    background-color: #444444;
    color: white;
}

tr.color1{
    background-color: #f2eeff;
}
tr.color2{
    background-color: #eeeeff;
}
tr.color3{
    background-color: #eef2ff;
}
tr.color4{
    background-color: #eeffff;
}
tr.color5{
    background-color: #eefff2;
}
tr.color6{
    background-color: #eeffee;
}
tr.color7{
    background-color: #f2ffee;
}
tr.color8{
    background-color: #ffffee;
}

/* 主用の色 */
tr.table_casterselection{
    background-color: #ffeeee;
}

/* 再生済み */
tr.table_played{
    background-color: #cccccc;
}

.red {
    color: red;
}
.black{
    color: black;
}

a {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}
